<!-- Banner
  ================================================== -->
<div class="banner">
  <div class="container pad-it">
    <div class="row-fluid">
        <!-- <div class="span4 offset2 top-pad"> -->
          <h1 class="add-top"><img style="position:absolute;margin-top:12px;left:20%;" width="391" height="124" src="assets/Bitcoin2.png" id="bitcoin" class="rise-logo-home" alt="">
          <h1 class="add-top"><img style="position:absolute;left:45%;top:25%;" src="assets/title.png" id="bitcoin" class="rise-logo-home" alt=""></h1>
        <!-- </div> -->
      </h1>
    </div> <!-- /.container -->
  </div> <!-- /.banner -->
</div> <!-- /.banner -->

<!-- Lead
  ================================================== -->
<div class="lead">
  <div class="container">
    <div class="row-fluid top-pad-2x">
      <div class="span10 offset1">
        <h1>"We have $20,000 of AWS credits that are going to expire. I wish we could make money out of it." - Startup Founder</h1>
      </div> <!-- /.span6 -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div>

<!-- Carousel
  ================================================== -->
<div class="container-fluid-capsule top-pad-2x">
  <div class="flexslider">
  </div> <!-- /.row -->
</div> <!-- /.container -->

<!-- Quotes
  ================================================== -->
<div class="container">
  <div id="block" class="row-fluid top-pad-2x">
    <div class="span4 quotable">
      <span class="quotes">&ldquo;</span><blockquote>We have $20,000 of AWS credits that are going to expire. I wish we could make money out of it.<span class="endquotes">&rdquo;</span></blockquote>
      <a>Startup Founder</a>
    </div> <!-- /.span4 -->

    <div class="span4 quotable">
      <span class="quotes">&ldquo;</span><blockquote>I still have $248 of AWS credits from last year.<span class="endquotes">&rdquo;</span></blockquote>
      <a>Some kid</a>
    </div> <!-- /.span4 -->

    <div class="span4 quotable">
      <span class="quotes">&ldquo;</span><blockquote>Why would I give you complete unfettered access to my AWS??<span class="endquotes">&rdquo;</span></blockquote>
      <a>A concerned dude</a>
    </div> <!-- /.span4 -->

  </div> <!-- /.row -->

  <div id="block2" class="row-fluid top-pad-2x">
    <div class="span4 quotable">
      <span class="quotes">&ldquo;</span><blockquote>This doesn't even make a profit!!<span class="endquotes">&rdquo;</span></blockquote>
      <a>An analytic guy</a>
    </div> <!-- /.span4 -->

    <div class="span4 quotable">
      <span class="quotes">&ldquo;</span><blockquote>Is Amazon AWS in the sky????<span class="endquotes">&rdquo;</span></blockquote>
      <a>An uneducated guy</a>
    </div> <!-- /.span4 -->

    <div class="span4 quotable">
      <span class="quotes">&ldquo;</span><blockquote>This is the epitome of doing one thing and doing one thing right.<span class="endquotes">&rdquo;</span></blockquote>
      <a>Snoop Dogg</a>
    </div> <!-- /.span4 -->

  </div> <!-- /.row -->
</div>