@import "bootstrap";

/* Mixins, Variables, etc. */

$grayLight: #999;
$grayMediumLight: #eaeaea;

/* Universal */

html
{
  overflow-y: scroll;
}

body
{
  padding-top: 60px;
}

section
{
  overflow: auto;
}

textarea
{
  resize: vertical;
}

.center
{
  text-align: center;

  h1
  {
    margin-bottom: 10px;
  }
}

.push-top
{
  margin-top: 20px;
}

.push-bottom
{
  margin-bottom: 20px;
}

/* FONT */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}


/* Typography */

h1, h2, h3, h4, h5, h6
{
  line-height: 1;
}

h1
{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2
{
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p
{
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Nav Bar */

#logo
{
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #848484;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

  &:hover
  {
    color: #fff;
    text-decoration: none;
  }
}

.banner
{
  height: 436px;
  background-color: #1A0250;
  margin-top: -18px;
  position: absolute;
  left: 0;
  right: 0;
}

.lead
{
  margin-top: 436px;
}

/* Footer */

footer
{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;

  small
  {
    float: left;
  }

  a
  {
    color: $gray;

    &:hover
    {
      color: $grayDarker;
    }
  }
}