<div class="center hero-unit">
  <% unless Stat.last.blank? %>
    Current Hash Rate = <%= Stat.last.current_hash_rate %>
    Current Bitcoin Price = <%= Stat.last.current_bitcoin_price %>
  <% end %>
</div>