<div class="center hero-unit">
  <% unless Stat.last.blank? %>
    <div class = "current-hash-rate">
      Current Hash Rate = <span id="current-hash-rate-value"><%= Stat.last.current_hash_rate %></span>
    </div>

    <div class = "current-bitcoin-price">
      Current Bitcoin Price = <span id="current-bitcoin-price-value"><%= Stat.last.current_bitcoin_price %></span>
    </div>
  <% end %>

  <%= image_tag(Gchart.line(:size => '300x300', :title => "Hash Rate", :bg => 'efefef', :legend => ['Average MH/s'], :data => Stat.hash_rate_stats, :axis_with_labels => ['x']), :axis_labels => ['0s','5s','10s','15s','20s']) %>

  <%= image_tag(Gchart.line(:size => '300x300', :title => "Bitcoin Price", :bg => 'efefef', :legend => ['USD/BTC'], :data => Stat.bitcoin_price_stats, :axis_with_labels => ['x']), :axis_labels => ['0s','5s','10s','15s','20s']) %>
</div>